<?xml version="1.0" encoding="UTF-8"?>
<config>
    <tabs>
        <wdm_option translate="label" module="measuredsearch">
            <label>Measured Search</label>
            <sort_order>100</sort_order>
        </wdm_option>
    </tabs>
    <sections>
        <wdm_config translate="label" module="measuredsearch">
            <label>API Key Setting</label>
            <tab>wdm_option</tab>
            <sort_order>1000</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <wdm_group translate="label" module="measuredsearch">
                    <label>Measured Search API Setting</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>1000</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <active translate="label">
                            <label>Enable</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </active>
                        <apikey translate="label">
                            <label>API key </label>
                            <comment>Enter the API key of Measured Search Account</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </apikey>
                    </fields>
                </wdm_group>
            </groups>
        </wdm_config>
    </sections>
</config>